<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Boats</title>

		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<header>
			<div class="topBar">
				<div class="navbar">
					<img src="{{ url_for('static', filename = 'images/logo.jpg') }}" alt="Logo" class="logo">

					<ul class="navbar_links">
						<li><a href="/">Home</a></li>
						<li><a href="/boats/">View Boats</a></li>
						<li><a href="/manage/">Manage Boats</a></li>
					</ul>
				</div>

			</div>
		</header>

		{% block body %}
		{% endblock %}

		<footer class="footer">
			<div class="footer_address">
				<h1 class="footer_logo">A very cool looking footer!</h1>

				<h2>Contact</h2>

				<address>
					5534 Somewhere In. The World 22193-10212<br>

					<a class="footer_btn" href="mailto:example@gmail.com">Email Us</a>
				</address>
			</div>

			<ul class="footer__nav">
				<li class="nav_item">
					<h2 class="nav_title">Legal</h2>

					<ul class="nav_ul">
						<li>
							<a href="#">Privacy Policy</a>
						</li>

						<li>
							<a href="#">Terms of Use</a>
						</li>
					</ul>
				</li>
			</ul>

			<div class="legal">
				<p>&copy; 2024 Something. All rights reserved.</p>
				<p>Boat logo by <a href="https://www.freepik.com/free-vector/hand-drawn-boat-logo_41275485.htm#query=boat%20logo&position=21&from_view=keyword&track=ais&uuid=10973766-1269-4efb-8462-73b70c4056cf">Freepik</a></p>
			</div>
		</footer>

	</body>
</html>
