{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/boats_view.css') }}">
{% endblock %}

{% block body %}
    {% set prev_page = page - 1 %}  <!-- variables in jinja --->
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="grid">
            {% for boat in boats %}
                <div class="boat">
                    <ul>
                        <li class="boat_btn">Boat #{{ boat['id'] }}</li>
                        <!-- <ul>
                            <li>Name: {{ boat['name'] }}</li>
                            <li>Type: {{ boat['type'] }}</li>
                            <li>Owner ID: {{ boat['owner_id'] }}</li>
                            <li>Price: {{ boat['rental_price'] }}</li>
                        </ul> -->
                    </ul>
                </div>
            {% endfor %}

            {% if boats | length < 1 %}
                <h1>No data available</h1>
            {% endif %}
        </div>

        <div class="pagination_bar">
            {% if page > 1 %}
                <a href= "{{ "/boats/view/"+ (page - 1) | string }}" class="pagination_button"> < </a>
            {% endif %}

            <a class="pagination_button current_pag_btn"> {{page}} </a>

            {% if page  < max_page  %}
                <a href="{{ "/boats/view/"+ (page + 1) | string }}" class="pagination_button" > {{ page + 1 }} </a>
            {% endif %}

            {% if page + 1 < max_page  %}
                <a href="{{ "/boats/view/"+ (page + 2) | string }}" class="pagination_button"> {{ page + 2 }} </a>
             {% endif %}

            {% if page < max_page %}
                <a href="{{ "/boats/view/"+ (page + 1) | string }}" class="pagination_button"> > </a>
            {% endif %}
        </div>
    </div>

{% endblock %}
