{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="styles/boats_view.css") }}">
{% endblock %}

{% block body %}
    <script>
        function set_url(page, type, value)
        {
            top.location = `../boats?page=${page}&search_type=${type}&search_value=${value}`
        }

    </script>

    <div class="column">
        <form action="/boats/?page={{ page }}" method="POST">
            <select name="search_type" id="">
                <option value="id">ID</option>
                <option value="name">Owner Name</option>
                <option value="type">Type</option>
            </select>

            <input type="text" name="search_value" placeholder="Enter value" class="form_input_field">
            <input type="submit" class="form_submit_btn" value="Search">
        </form>

        <h3>Page {{ page }}</h3>

        <div class="pagination_bar">
            {% if page > 1 %}
                <a onclick="set_url(1, '{{ type | string }}', '{{ value | string }}')" class="pagination_button">First</a>
                <a onclick="set_url({{ page - 1 }}, '{{ type | string }}', '{{ value | string }}')" class="pagination_button"> < </a>
            {% endif %}

            {% if page < max_page and page != 1  %}
                <a onclick="set_url({{ page - 1 }}, '{{ type | string }}', '{{ value | string }}')" class="pagination_button" > {{ page - 1 }} </a>
            {% endif %}

            <a class="pagination_button current_pag_btn"> {{page}} </a>

            {% if page < max_page  %}
                <a onclick="set_url({{ page + 1 }}, '{{ type | string }}', '{{ value | string }}')" class="pagination_button"> {{ page + 1 }} </a>
                <a onclick="set_url({{ page + 1 }}, '{{ type | string }}', '{{ value | string }}')" class="pagination_button"> > </a>
                <a onclick="set_url({{ max_page }}, '{{ type | string }}', '{{ value | string }}')" class="pagination_button">Last</a>
             {% endif %}
        </div>

        <div class="grid">
            {% for boat in boats %}
                <div class="boat">
                    <ul>
                        <a href="{{ "/boats/view/" + boat["id"] | string }}"><li class="boat_btn">Boat #{{ boat["id"] }}</li></a>
                    </ul>
                </div>
            {% endfor %}

            {% if boats | length < 1 %}
                <h1>No data available</h1>
            {% endif %}
        </div>
    </div>

{% endblock %}
