{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/boats_view.css') }}">
{% endblock %}

{% block body %}
    {% set prev_page = page - 1 %}  <!-- variables in jinja --->
    <div class="column">
        <h3>Page {{ page }}</h3>

        <div class="pagination_bar">
            {% if page > 1 %}
                <a href="{{ "/boats/1" }}" class="pagination_button">First</a>
                <a href= "{{ "/boats/"+ (page - 1) | string }}" class="pagination_button"> < </a>
            {% endif %}

            {% if page < max_page and page != 1  %}
                <a href="{{ "/boats/"+ (page - 1) | string }}" class="pagination_button" > {{ page - 1 }} </a>
            {% endif %}

            <a class="pagination_button current_pag_btn"> {{page}} </a>

            {% if page < max_page  %}
                <a href="{{ "/boats/"+ (page + 1) | string }}" class="pagination_button"> {{ page + 1 }} </a>
                <a href="{{ "/boats/"+ (page + 1) | string }}" class="pagination_button"> > </a>
                <a href="{{ "/boats/" + max_page | string }}" class="pagination_button">Last</a>
             {% endif %}

        </div>

        <div class="grid">
            {% for boat in boats %}
                <div class="boat">
                    <ul>
                        <a href="{{ "/boats/view/" + boat['id'] | string }}"><li class="boat_btn">Boat #{{ boat['id'] }}</li></a>
                    </ul>
                </div>
            {% endfor %}

            {% if boats | length < 1 %}
                <h1>No data available</h1>
            {% endif %}
        </div>
    </div>

{% endblock %}
