{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/boats_view.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<table>
			<tr>
				<td>Name:</td>
				<td>{{ boat['name'] }}</td>
			</tr>
			<tr>
				<td>Type:</td>
				<td>{{ boat['type'] }}</td>
			</tr>
			<tr>
				<td>Owner ID:</td>
				<td>{{ boat['owner_id'] }}</td>
			</tr>
			<tr>
				<td>Rental Price:</td>
				<td>{{ "$%.2f"|format(boat['rental_price']) }}</td>
			</tr>
		</table>
	</div>
{% endblock %}
